body {
	margin: 0;
	padding: 0;
}

.container {
	height: 700px;
	background: pink;
	/*flex-direction: column;*/
	flex-wrap: wrap;
	width: 1140px;
	margin: 0 auto;
	display: flex;
	/*flex-direction: row;
	flex-direction: row-reverse;
	flex-direction: column;*/
	/*flex-direction: column-reverse;*/
	/*flex-wrap: wrap;*/

	/*justify-content: center;*/
	/*justify-content: flex-end;*/
	/*justify-content: space-between;*/
	/*justify-content: space-around;*/
	/*justify-content: space-evenly;*/
	/*align-items: center;*/
	align-content: center;
	
}
.box {
	/*flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 400px;*/

	/*flex: 1 1 400px;*/
	flex-basis: 200px;
	flex-grow: 1;
}
.b1 {
	/*order: 5;*/
}
.b2 {
	/*flex-grow: 2;*/
	/*flex-grow: 1;*/
	flex-shrink: 2;
	/*order: 3;*/
}
.b3 {
	/*order: 2;*/
}
.b4 {
	/*order: 4;*/
}






.box {
	/*width: 500px;*/
	height: 100px;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	/*flex-grow: 1;*/
}
.b1 {
	background: red;

}
.b2 {
	background: blue;

}
.b3 {
	background: green;
	/*margin-left: auto;*/
}
.b4 {
	background: yellow;
}

.b5 {
	background: green;
}
.b6 {
	background: gray;
}

.b7 {
	background: maroon;
}
.b8 {
	background: skyblue;
}

.b9 {
	background: aqua;
}
.b10 {
	background: #000;
}



/*ul {
	display: flex;
	margin: 0;
	padding: 0;
}
ul li {
	width: 200px;
	height: 100px;
	list-style: none;
}
ul li:nth-child(1) {
	background: blue;
}
ul li:nth-child(2) {
	background: green;
}
ul li:nth-child(3) {
	background: red;
}*/




.div {
	background: red;
	font-size: 10px;
	width: 900px;
	height: 100px;
	display: flex;
}
h2 {
	margin: auto;
}